In [4]:
import pandas as pd

# data loading

In [3]:
people = {
    "first": ["yonathan", "efrem", "daniel"],
    "last": ["cherkos", "muse", "cherkos"],
    "email": ["yonycherkos@gmail.com", "efremmuse@gmail.com", "danielcherkos@gmail.com"]
}

In [5]:
df = pd.DataFrame(people)

In [6]:
df

      first     last                    email
0  yonathan  cherkos    yonycherkos@gmail.com
1     efrem     muse      efremmuse@gmail.com
2    daniel  cherkos  danielcherkos@gmail.com

# selecting rows and columns

In [7]:
df.email

0      yonycherkos@gmail.com
1        efremmuse@gmail.com
2    danielcherkos@gmail.com
Name: email, dtype: object

In [8]:
df["email"]

0      yonycherkos@gmail.com
1        efremmuse@gmail.com
2    danielcherkos@gmail.com
Name: email, dtype: object

In [9]:
df.iloc[0]

first                 yonathan
last                   cherkos
email    yonycherkos@gmail.com
Name: 0, dtype: object

In [10]:
df.loc[1]

first                  efrem
last                    muse
email    efremmuse@gmail.com
Name: 1, dtype: object

In [11]:
df.loc[1, ["last", "email"]]

last                    muse
email    efremmuse@gmail.com
Name: 1, dtype: object

# set, reset, and use indexes

In [13]:
df.set_index("email")

                            first     last
email
yonycherkos@gmail.com    yonathan  cherkos
efremmuse@gmail.com         efrem     muse
danielcherkos@gmail.com    daniel  cherkos

In [14]:
df

      first     last                    email
0  yonathan  cherkos    yonycherkos@gmail.com
1     efrem     muse      efremmuse@gmail.com
2    daniel  cherkos  danielcherkos@gmail.com

In [16]:
df.set_index("email", inplace=True)

In [17]:
df

                            first     last
email
yonycherkos@gmail.com    yonathan  cherkos
efremmuse@gmail.com         efrem     muse
danielcherkos@gmail.com    daniel  cherkos

In [18]:
df.reset_index(inplace=True)
df

                     email     first     last
0    yonycherkos@gmail.com  yonathan  cherkos
1      efremmuse@gmail.com     efrem     muse
2  danielcherkos@gmail.com    daniel  cherkos