In [9]:
import pandas as pd

# 1) Data Loading

In [10]:
people = {
    "first": ["yonathan", "efrem", "daniel"],
    "last": ["cherkos", "muse", "cherkos"],
    "email": ["yonycherkos@gmail.com", "efremmuse@gmail.com", "danielcherkos@gmail.com"]
}

In [11]:
df = pd.DataFrame(people)

In [12]:
df

      first     last                    email
0  yonathan  cherkos    yonycherkos@gmail.com
1     efrem     muse      efremmuse@gmail.com
2    daniel  cherkos  danielcherkos@gmail.com

# 2) Selecting Rows and Columns

In [14]:
df.email

0      yonycherkos@gmail.com
1        efremmuse@gmail.com
2    danielcherkos@gmail.com
Name: email, dtype: object

In [15]:
df["email"]

0      yonycherkos@gmail.com
1        efremmuse@gmail.com
2    danielcherkos@gmail.com
Name: email, dtype: object

In [16]:
df.iloc[0]

first                 yonathan
last                   cherkos
email    yonycherkos@gmail.com
Name: 0, dtype: object

In [17]:
df.loc[0]

first                 yonathan
last                   cherkos
email    yonycherkos@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[1, ["last", "email"]]

last                    muse
email    efremmuse@gmail.com
Name: 1, dtype: object

# 3) Set, Reset, and Use Indexes

In [20]:
df.set_index("email")

                            first     last
email
yonycherkos@gmail.com    yonathan  cherkos
efremmuse@gmail.com         efrem     muse
danielcherkos@gmail.com    daniel  cherkos

In [21]:
df

      first     last                    email
0  yonathan  cherkos    yonycherkos@gmail.com
1     efrem     muse      efremmuse@gmail.com
2    daniel  cherkos  danielcherkos@gmail.com

In [23]:
df.set_index("email", inplace=True)

In [24]:
df

                            first     last
email
yonycherkos@gmail.com    yonathan  cherkos
efremmuse@gmail.com         efrem     muse
danielcherkos@gmail.com    daniel  cherkos

In [25]:
df.reset_index(inplace=True)
df

                     email     first     last
0    yonycherkos@gmail.com  yonathan  cherkos
1      efremmuse@gmail.com     efrem     muse
2  danielcherkos@gmail.com    daniel  cherkos